name: auth-service

services:
  monomanager-auth-database:
    image: postgres:18
    ports:
      - '${AUTH_DB_PORT}:5432'
    environment:
      POSTGRES_USER: ${AUTH_DB_USER}
      POSTGRES_DB: ${AUTH_DB_NAME}
      POSTGRES_PASSWORD: ${AUTH_DB_PASSWORD}
    volumes:
      - auth-data:/var/lib/backup/data
    networks:
      - monomanager-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${AUTH_DB_USER} -d ${AUTH_DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5

  monomanager-user-database:
    image: postgres:18
    ports: 
      - '${USER_DB_PORT}:5432'
    environment:
      POSTGRES_USER: ${USER_DB_PORT}
      POSTGRES_DB: ${USER_DB_NAME}
      POSTGRES_PASSWORD: ${USER_DB_PASSWORD}
    volumes:
      - user-data:/var/lib/backup/data
    networks:
      - monomanager-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${USER_DB_USER} -d ${USER_DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5



